{
  "openapi": "3.0.3",
  "info": {
    "title": "OutSystems Order API",
    "version": "1.0.0",
    "description": "External order management API provided by OutSystems cloud platform"
  },
  "servers": [
    {
      "url": "https://personal-v9ndj4pt.outsystemscloud.com/Order/rest/Order",
      "description": "OutSystems Order REST API"
    }
  ],
  "tags": [
    {
      "name": "Orders",
      "description": "Order management operations"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": ["Orders"],
        "summary": "Get orders by user",
        "operationId": "getOrdersByUser",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Orders retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Orders"],
        "summary": "Create order",
        "operationId": "createOrder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/{orderId}/": {
      "get": {
        "tags": ["Orders"],
        "summary": "Get order by id",
        "operationId": "getOrder",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/{orderId}/seat/": {
      "put": {
        "tags": ["Orders"],
        "summary": "Update order seat",
        "operationId": "updateOrderSeat",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrderSeatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order seat updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/{orderId}/status/": {
      "put": {
        "tags": ["Orders"],
        "summary": "Update order status",
        "operationId": "updateOrderStatus",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrderStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order status updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateOrderRequest": {
        "type": "object",
        "required": ["userId", "eventId", "seatId", "price", "currency"],
        "properties": {
          "userId": {
            "type": "string"
          },
          "eventId": {
            "type": "string"
          },
          "seatId": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "currency": {
            "type": "string",
            "example": "SGD"
          }
        }
      },
      "UpdateOrderStatusRequest": {
        "type": "object",
        "required": ["status"],
        "properties": {
          "status": {
            "type": "string",
            "enum": ["CONFIRMED", "CANCELLED"]
          }
        }
      },
      "UpdateOrderSeatRequest": {
        "type": "object",
        "required": ["SeatId"],
        "properties": {
          "SeatId": {
            "type": "string"
          }
        }
      }
    }
  }
}
